.header__logo {
    max-width: 142px;
}

.header__logo:hover {
    background-image: url(/src/images/Header__logo-hover.svg);
    transition: background-image .5s ease;
}

@media (max-width: 550px) {
    .header__logo {
        padding-left: 30px;
        width: 103px;
        height: 24px;
    }
}