.footer {
    max-width: 880px;
    padding: 67px 0 60px;
    margin: 0 auto 0;
}

@media (max-width: 768px) {
    .footer {
        max-width: 580px;
    }
}

@media (max-width: 550px) {
    .footer {
        max-width: 282px;
    }
}