.profile {
    max-width: 880px;
    min-width: 282px;
    padding-top: 40px;
    margin: auto;
    display: grid;
    row-gap: 16px;
    grid-template-columns: 170px auto 150px;
    grid-template-rows: repeat(2, 60px);
    grid-template-areas: 
    "avatar name add"
    "avatar description add"
    ;
}

@media (max-width: 550px) {
    .profile {
        max-width: 282px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}