.profile__name {
    max-width: 294px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #FFFFFF;
    grid-area: name;
}

@media (max-width: 550px) {
    .profile__name {
        max-width: 238px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin: 0;
    }
}